:root {
    --landing-color: #3CBEC2;
    --project-color: #5E888C;
    --contact-color: #5B7372;
    --text-color: #FFFAD9;
    --alternative-color: #E2EDC6;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: var(--text-color);
    font-family: Roboto;
    letter-spacing: 2px;
}

#landing-page {
    background-color: var(--landing-color);
}

.landing-title {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    animation: fadeIn 2s;
}

#git-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 4vh;
    transform: translateY(-1100%);
    filter: brightness(0);
}

#projects-page {
    background-color: var(--project-color);
}

.projects-title {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    animation: fadeIn 2s;
}

#contact-page {
    background-color: var(--contact-color);
}

.contact-title {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
    animation: fadeIn 2s; 
}

.next-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(-800%);
    animation: fadeIn 2s;
}

.prev-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateY(600%);
    animation: fadeIn 2s;
}

section a {
    text-decoration: none;
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

