:root {
    --landing-color: #3CBEC2;
    --project-color: #5E888C;
    --contact-color: #5B7372;
    --text-color: #FFFAD9;
    --alternative-color: #E2EDC6;
}

* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body, html {
    height: 100vh;
    scroll-behavior: smooth;
}

body {
    background-color: var(--text-color);
    font-family: Roboto;
    letter-spacing: 2px;
}

#landing-page {
    background-color: var(--landing-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.landing-title {
    color: var(--text-color);
    margin-bottom: 20px;
    animation: fadeIn 1s;
}

#git-icon {
    margin-left: auto;
    margin-right: auto;
    width: 4vh;
    filter: brightness(0);
    animation: fadeIn 2s;
}

#git-icon:hover {
    filter: brightness(100);
    opacity: 0.8;
}

#projects-page {
    background-color: var(--project-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.projects-title {
    color: var(--text-color);
    animation: fadeIn 2s;
    transform: translateY(-300%);
}

.project h1 {
    font-size: 25px;
}

.links a::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--project-color);
    transition: width .3s;
}

.links a:hover::after {
    width: 37%;
    transition: width .3s;
}

.projects {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.desc {
    font-size: 70%;
    margin-top: 10px;
    margin-bottom: 20px;
}

.links a {
    color: var(--project-color) !important;
    font-weight: bold;
}

#card {
    width: 250px;
    background-color: var(--text-color) !important;
    height: 154px;
    padding: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    color: var(--project-color);
    border-radius: 8px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

#contact-page {
    background-color: var(--contact-color);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.contact-title {
    color: var(--text-color);
    animation: fadeIn 2s; 
}

.contact-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--text-color);
    transition: width .3s;
}

.contact-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.next-section {
    animation: fadeIn 1s;
    transform: translateY(600%);
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: var(--text-color);
    transition: width .3s;
}

.nav-link:hover::after {
    width: 100%;
    transition: width .3s;
}

.prev-section {
    animation: fadeIn 2s;
    transform: translateY(-1400%);
}

section a {
    text-decoration: none;
    color: var(--text-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

